# setup settings
PROJECT_NAME=fastapi-template
SERVER_PORT=8000
IS_TEST=true  # dont forget to set to false in production

# first superuser for admin panel
SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=admin

# for caddy
EXT_ENDPOINT1=0.0.0.0
LOCAL_1=localhost
LOCAL_2=127.0.0.1
CONTACT_EMAIL=admin@admin.com

# SMTP email config
EMAIL_USERNAME=username
EMAIL_PASSWORD=********
EMAIL_FROM=noreply@mail.com
EMAIL_PORT=465
EMAIL_SERVER=someserver

# redis
REDIS_HOST=redis_server
REDIS_PORT=6379

# for authorization
SECRET_KEY=dont_forget_to_change_me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1000000

# database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=test_db
POSTGRES_HOST=database
POSTGRES_PORT=5432


